{% extends "base.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <div class="card card-style mb-0 bg-transparent shadow-0 bg-3 mx-0 rounded-0" data-card-height="cover">
        <div class="card-center">
            <div class="card card-style">
                <div class="content">
                    <h1 class="text-center font-800 font-30 mb-2">Регистрация</h1>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-full bg-green-dark rounded-xs text-uppercase font-700 w-100 btn-s mt-4" type="submit">Зарегистрироваться</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function openCamera() {
            const userAgent = navigator.userAgent || navigator.vendor || window.opera;

            if (/android/i.test(userAgent)) {
                // Попытка открыть камеру на Android через intent
                window.location.href = "intent://#Intent;action=android.media.action.IMAGE_CAPTURE;end;";
            } else if (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream) {
                // Попытка открыть камеру на iOS (не всегда работает)
                window.location.href = "camera://";
            } else {
                alert("Ваше устройство не поддерживает автоматическое открытие камеры.");
            }
        }
    </script>
{% endblock %}



